.image-comparison-box {
  width: var(--pageWidth);
}

.image-comapariosn-head {
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 45px;
  color: #1c1e52;
}

#imgCompareID{
    width: 754px;
}