<div class="image-comparison-box">

  <div class="image-comapariosn-head poppins text-center my-2 mt-4">
    Make Your Subject Stand Out!
  </div>

  <div class="text-center my-2 mb-4">
    <div class="sub-nav d-flex justify-content-center">
      <div class="item mx-2 p-1 cursor-pointer red-custom underline"><u>Models</u></div>
      <div class="item mx-2 p-1 cursor-pointer">Watches</div>
      <div class="item mx-2 p-1 cursor-pointer">Grocery</div>
      <div class="item mx-2 p-1 cursor-pointer">Footwear</div>
      <div class="item mx-2 p-1 cursor-pointer">Car</div>
    </div>
  </div>

  <div id="imgCompareID" class="cocoen mx-auto mb-4">
    <img src="assets/images/slide1.png" class="img-fluid">
    <img src="assets/images/slide2.png" class="img-fluid">
  </div>
</div>
