.ad-bg-container {
  width: var(--pageWidth);
}

.content-box {
  width: 491px;
  height: 128px;
  left: 845px;
  top: 3242px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 45px;
  /* or 225% */

  /* purple/purple80 */

  color: #1c1e52;
}
