<div class="container-fluid main">
  <div class="row">
    <div class="col-12">
      <header class="position-absolute py-3">
        <div class="d-flex justify-content-between mx-4">
          <div class="d-flex mx-4 align-items-center">
            <div class="logo-box"><img src="assets/images/Group 5705@2x 1.png" alt=""></div>
            <div class="menu-items px-2 cursor-pointer mx-3">Use cases <span class="fa fa-angle-down"></span></div>
            <div class="menu-items px-2 cursor-pointer mx-3">Blog</div>
            <div class="menu-items px-2 cursor-pointer mx-3">Pricing</div>
            <div class="menu-items px-2 cursor-pointer mx-3">Contact us</div>
          </div>
          <div class="sign-box">
            <button class="sign-box-btn">sign in</button>
          </div>
        </div>
      </header>
      <app-hero></app-hero>
      <app-conversion-stats></app-conversion-stats>
      <app-image-comparison></app-image-comparison>
      <app-subject-extraction></app-subject-extraction>
      <app-ad-bg-remover></app-ad-bg-remover>
      <app-bg-applications></app-bg-applications>
      <app-last-notes></app-last-notes>
      <footer class="p-5">
        <div class="d-flex justify-content-between align-items-center">
          <div class="logo-box-container d-flex">
            <img src="assets/icons/Group (3).png" alt="">
            <div class="content-clpr mx-3 d-flex flex-column justify-content-center">
              <div class="clipr-title">Clippr</div>
              <div class="clipr-sub my-2">BUILT BY SPYNE</div>
            </div>
          </div>
          <div class="center-links d-flex">
            <div class="lhs">
              <div class="title sc-title">AI tools</div>
              <div class="links-items my-3 cursor-pointer">Background Removal</div>
              <div class="links-items my-3 cursor-pointer">Background Retouch</div>
              <div class="links-items my-3 cursor-pointer">Face Retouch</div>
              <div class="links-items my-3 cursor-pointer">Tags Generation</div>
              <div class="links-items my-3 cursor-pointer">Margins & Scaling</div>
            </div>
            <div class="rhs mx-5">
              <div class="title sc-title mx-2">Social</div>
              <div class="links-items d-flex my-3 cursor-pointer">
                <div class="sc-img mx-2">
                  <img src="assets/icons/Vector (4).png" alt="">
                </div>
                <div class="sc-txt">@clippr.ai</div>
              </div>
              <div class="links-items d-flex my-3 cursor-pointer">
                <div class="sc-img mx-2">
                  <img src="assets/icons/Vector (5).png" alt="">
                </div>
                <div class="sc-txt">@clippr.ai</div>
              </div>
              <div class="links-items d-flex my-3 cursor-pointer">
                <div class="sc-img mx-2">
                  <img src="assets/icons/Vector (6).png" alt="">
                </div>
                <div class="sc-txt">@clippr.ai</div>
              </div>
              <div class="links-items d-flex my-3 cursor-pointer">
                <div class="sc-img mx-2">
                  <img src="assets/icons/Vector (7).png" alt="">
                </div>
                <div class="sc-txt">@clippr.ai</div>
              </div>
            </div>
          </div>
          <div class="mail-box-container">
            <div class="title">Subscribe to our newsletter</div>
            <div class="mail-box-element my-3 position-relative">
              <input type="text" placeholder="Enter your Email" class="px-3">
              <img src="assets/icons/Vector (8).png" class="position-absolute airplane">
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
