<div class="last-notes-container position-relative">
  <img src="assets/images/Rectangle 68.png" class="">
  <div class="content-abs position-absolute">
    <div class="elm my-4">
      SEO SECTION SEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO
      SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO
      SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO
      SECTION
    </div>
    <div class="elm my-4">
      SEO SECTION SEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO
      SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO
      SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO
      SECTION
    </div>
    <div class="elm my-4">
      SEO SECTION SEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO
      SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO
      SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO
      SECTION
    </div>
    <div class="elm my-4">
      SEO SECTION SEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO
      SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO
      SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO
      SECTION
    </div>
    <div class="elm my-4">
      SEO SECTION SEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO
      SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO
      SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO
      SECTION
    </div>
    <div class="elm my-4">
      SEO SECTION SEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO
      SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO
      SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO SECTIONSEO
      SECTION
    </div>
  </div>
</div>
