<div class="conversion-container pt-3 px-3 position-relative">
    <div class="conversion-heading text-center">
      We create product images that <span class="text-danger">SELL</span>
    </div>
  
    <div class="lower-section position-absolute w-full">
      <div class="d-flex align-items-end justify-content-center overflow-y-hidden">
        <div class="lhs-item">
          <div class="d-flex align-items-end">
            <div class="img-box">
              <img src="assets/images/watch.png">
            </div>
            <div class="convJS conversion-red-bar mx-3" inViewport (inViewportAction)="onScroll($event)"></div>
          </div>
          <div class="conversion-pending-text mt-3 common-conversion-text poppins position-relative topp-100 slideupText">
            <span class="d-block">Conversion Rate %</span>
            <span>with unnecessary background</span>
          </div>
        </div>
  
        <div class="xtra-gap mx-4"></div>
  
        <div class="rhs-item">
          <div class="d-flex align-items-end">
            <div class="img-box" style="box-shadow: -10px 33px 100px rgba(0, 0, 0, 0.25);border-radius: 15px;">
              <img src="assets/images/bgRemovedWatch.png" alt="">
            </div>
            <div class="convJS conversion-green-bar mx-3"></div>
          </div>
          <div class="conversion-text-success mt-3 common-conversion-text position-relative poppins slideupText">
            <span class="d-block">Conversion Rate %</span>
            <span>with solid background</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  