<div class="subtraction-container position-relative">
  <div class="position-absolute">
    <img src="assets/images/Rectangle 58.png" class="img-fluid">
  </div>
  <div class="position-absolute">
    <div class="d-flex align-items-center mx-5" style="height: 600px;">
      <div class="imag-box">
        <img src="assets/images/ezgif 1.png">
      </div>
      <div class="contnt-box" style="margin-left: 130px;">
        <div class="head">
          Extract The Subject
        </div>
        <div class="sub-head my-3">
          from removing unnecessary Image Background
          & put the Subject on the certain occasion you like.
        </div>
        <div class="foot-txt mt-5 mb-3">
          Free <span class="red-custom">AI driven</span> tool
        </div>
        <div class="btn-box">
          <button>Try Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
