.subtraction-container {
  width: var(--pageWidth);
  height: 600px;
}

.head {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 45px;
  /* identical to box height, or 141% */

  /* purple/purple80 */

  color: #1c1e52;
}

.sub-head {
  font-family: Poppins;
  color: #1c1e52;
}


