<div class="bg-remover-application-container px-5f">
  <div class="sub-headings my-2 text-center">
    Best Useful For
  </div>

  <div class="d-flex justify-content-between">
    <div class="item position-relative">
      <div class="cards-custom p-3">
        <div class="d-flex">
          <div class="woman-box">
            <img src="assets/images/undraw_add_to_cart_vkjp 1.png" alt="">
          </div>
          <div class="content-box px-4">
            <div class="heading">E-Commerce</div>
            <div class="txt">Increase conversion rate with stunning photos. Just upload images and get the background
              removed in seconds.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="item position-relative">
      <div class="cards-custom-right p-3">
        <div class="d-flex">
          <div class="woman-box">
            <img src="assets/images/undraw_Business_plan_re_0v81 1.png" alt="">
          </div>
          <div class="content-box px-4">
            <div class="heading">E-Commerce</div>
            <div class="txt">Make your image background transparent & create great marketing pitch.</div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="separator"></div>


  <div class="d-flex justify-content-between">
    <div class="item position-relative">
      <div class="cards-custom p-3">
        <div class="d-flex">
          <div class="woman-box">
            <img src="assets/images/undraw_progressive_app_m9ms 1.png" alt="">
          </div>
          <div class="content-box px-4">
            <div class="heading">E-Commerce</div>
            <div class="txt">Save your time from manual editing. Remove background in a single click with Clippr.ai
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item position-relative">
      <div class="cards-custom-right p-3">
        <div class="d-flex">
          <div class="woman-box">
            <img src="assets/images/undraw_new_entries_nh3h 1.png" alt="">
          </div>
          <div class="content-box px-4">
            <div class="heading">E-Commerce</div>
            <div class="txt">Thousands of creators use Clippr.ai to create awesome posts & thumbnails. Try it now!</div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
